body{
    background: url("Img/Background_WT.png");
    background-size: cover;
}

.jumbotron{
    color: white;
    padding: 20px;
    height: 12rem;
}

/* menu */
.container-fluid{
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-color: aliceblue;
    border-radius: 30px 30px 0px 0px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

#menuItem{
    background-color: white;
    border-radius: 12px;
    width: 28rem;
    height: 20rem;
    margin: 10px;
    animation: fadeIn 2s ease-in-out;
}

#menuItem:nth-child(1){
    float: left;
    border-bottom: 4px solid #9899d4;
    box-shadow: rgba(152,153,212, 0.3) 0px 7px 29px 0px;
}

#menuItem:nth-child(2){
    float: right;
    border-bottom: 4px solid #e29287;
    box-shadow: rgba(226,146,135, 0.3) 0px 7px 29px 0px;
}

#menuItem:nth-child(3){
    float: left;
    border-bottom: 4px solid #89cec2;
    box-shadow: rgba(137,206,194, 0.3) 0px 7px 29px 0px;
}

#menuItem:nth-child(4){
    float: right;
    border-bottom: 4px solid #9899d4;
    box-shadow: rgba(152,153,212, 0.3) 0px 7px 29px 0px;
}

/* animation */
@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
  }

.menuIcon{
    margin-top: 20px;
    background-color: rgba(211,211,211, 0.15);
    border-radius: 12px;
    padding: 15px;
}

.menuSpan{
    opacity: 0.75;
}

@media only screen and (max-width: 700px) {
    .container-fluid{
        width: 100%;
    }

    #menuItem{
      width: 10rem;
      height: 12.5rem;
    }
  }

  @media only screen and (max-width: 380px) {
    .container-fluid{
        width: 100%;
    }

    #menuItem{
      width: 9rem;
      height: 12.5rem;
    }
  }